@import "tailwindcss";

@theme {
  --color-molson-blue: #0067AC;
  --color-molson-yellow: #F6DD58;
  --color-molson-red: #ED1C24;

  --color-coors-red: #D31245;
  --color-coors-silver: #D1D3D4;
  --color-coors-gray: #717073;
  --color-coors-blue: #002147;

  --color-miller-navy: #000F3D;
  --color-miller-gold: #A07713;
  --color-miller-red: #AF282D;

  --color-m-cdn-blue: #006BAE;
  --color-m-cdn-red: #ED515A;
  --color-m-cdn-gold: #F6C136;
}
